/*==== VARIABLES ====*/
:root{
	--logo:#00b6b1;
	--footer:#373838;
	--accent-brown:#DADAD2;
	--font:#5C5D5F;
	--links:#9B8E7B;
	--border:#dcd9d9;
	--bg:#fff;
	--bg-alt:#F8F8F8;
}

/*==== FONTS ====*/
@font-face{
	font-family:'Nexa Bold';
	src:url('../fonts/Nexa/Nexa Bold.otf');
}
@font-face{
	font-family:'Nexa Light';
	src:url('../fonts/Nexa/Nexa Light.otf');
}
@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Italic.ttf');
	font-style:italic;
}
@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Bold.ttf');
	font-weight:bold;
}
/*==== GENERAL ====*/
body{
	font-family:Lato;
	font-size: 17px;
	color:var(--font);
}

.sectionTitle{
	font-size:30px;
	text-align:center;
	font-family:"Nexa Light";
	text-transform:uppercase;
	letter-spacing:2px;
	padding-bottom:50px;
}

.sectionTitle span{
	border-bottom:2.5px solid var(--logo);
	padding-bottom:8px;
	white-space:nowrap;
}

.paraText{
	text-align:justify;
	line-height:200%;
	color:var(--font);
}

/*==== NAVIGATION BAR ====*/
.navbar{
	font-family:"Nexa Light";
	text-transform:uppercase;
	letter-spacing:1px;
}

.navbar-right{
	padding-right:10px;
	display:inline-block;
	float:left;
}

.navbar-nav li a{
	line-height:37.5px;
}

.navbar-brand p{
	letter-spacing:2px;
	margin-top:2.5px;
	font-size:25px;
}

.navbar-brand:hover{
	color: var(--logo) !important; 
}

.navbar-nav li a span{/*following three blocks for underline*/
	border-bottom:2.5px solid transparent; 
}

ul.nav a:hover { 
	color: var(--font) !important; 
}

ul.nav a:hover span{ 
	border-bottom:2.5px solid var(--logo); 
	padding-bottom:8px;
}

/*==== LANDING SECTION ====*/
.splashSection{
	padding:125px 15px 75px 15px;
	background:url('../img/landing/hue_overlay.png') no-repeat fixed center;
	height:100vh;
}

.relativeBox{
	/*border:1px solid red;*/
	position:relative;
}

.logo-center{
		min-height:55%;
		min-height:55vh;
		display:flex;
		align-items:center;
		/*border:1px solid black;*/
}

.splashSection img{
	width: 300px;
	height:auto;
	margin:0 auto;
}

.button-center{
	text-align:center;
	position:absolute;
	margin:0 auto;
	left:0;
	right:0;
	/*border:1px solid black;*/
}

#btnDownload{
	background-image:url('../img/social/download_white.png');
	background-color:transparent;
	background-size:24px auto;
	background-repeat:no-repeat;
	background-position:25px 15px;
}

#btnGithub{
	background-image:url('../img/social/github_white.png');
	background-color:transparent;
	background-size:25px auto;
	background-repeat:no-repeat;
	background-position:25px 16px;
}

#btnLinkedin{
	background-image:url('../img/social/linkedin_white.png');
	background-color:transparent;
	background-size:22px auto;
	background-repeat:no-repeat;
	background-position:29px 13px;
}

.button-center a{
	display:inline-block;
    color: white;
	whitespace:nowrap;
    padding: 15px 25px 15px 60px;
    border: 2.5px solid white;
    border-radius: 10px;
	font-family:"Nexa Bold";
	font-size:18px;
	margin:4px 4px;
}

.button-center a:hover, .button-center a:active{
	text-decoration:none;
	color:var(--logo);
}

#btnDownload:hover{
	background-color:white;
	background-image:url('../img/social/download_hover.png');
}

#btnGithub:hover{
	background-color:white;
	background-image:url('../img/social/github_hover.png');
}

#btnLinkedin:hover{
	background-color:white;
	background-image:url('../img/social/linkedin_hover.png');
}

/*==== ABOUT SECTION ====*/
.aboutSection{
	padding:75px 0px;
	background-color:white;
	border-bottom:1px solid var(--border);
}

/*==== EXPERIENCE SECTION ====*/
.experienceSection{
	padding:75px 15px;
	background-color:var(--bg-alt);
}

.timelineContainer{
	
}

.timelineSection{

}

.timelineDate{
	text-align:right;
	padding-top:20px;
	font-size:1.2em
}

.timelineIcon{
	text-align:center;
}

.timelineDetails{
	background-color:white;
	margin-bottom:30px;
	border-radius:5px;
}

.jobLocation{
	font-size:1.5em;
	padding-bottom:2px;
}


.jobTitle{
	font-size:1.3em;
	padding-bottom:12px;
}

/*==== PROJECTS SECTION ====*/
.projectsSection{
	padding:75px 15px;
	background-color:var(--bg-alt)
	border-bottom:1px solid var(--border);
}

.projectContainer{

}

.projectCard{
	text-align:center;
}

.graphicsSection{

}

.graphicContainer{

}

/*==== CONTACT SECTION ====*/
.contactSection{
	padding:75px 15px;
}

/*==== FOOTER SECTION ====*/
.footerSection{
	background-color: var(--font);
	color:white;
	padding:2% 0;
	height:90px;
	text-align:center;
}

footer{

}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.splashSection img{
		width: 500px;
	}
	
	.navbar-brand p{
		margin-top:11px;
	}
	
	.btnOutline, .btnOutline:link, .btnOutline:visited{
	display: inline-block;
    color: white;
    padding: 15px 25px;
    border: 2.5px solid white;
    border-radius: 10px;
	}
	
	.button-center a{
	margin:0px 4px;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}