/*==== VARIABLES ====*/
:root{
	--light-grey:#F8F8F8;
}

/*==== FONTS ====*/
@font-face{
	font-family:'Nexa Bold';
	src:url('../fonts/Nexa/Nexa Bold.otf');
}

@font-face{
	font-family:'Nexa Light';
	src:url('../fonts/Nexa/Nexa Light.otf');
}

@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Italic.ttf');
	font-style:italic;
}

@font-face{
	font-family:'Lato';
	src:url('../fonts/Lato/Lato-Bold.ttf');
	font-weight:bold;
}


body{
	font-family:Lato;
	font-size: 16px;
}

.sectionTitle{
	font-size:200%;
	text-align:center;
	font-family:"Nexa Light";
	text-transform:uppercase;
	letter-spacing:2px;
	padding-bottom:50px;
}

.paraText{
	text-align:justify;
	line-height:200%;

}

/*==== NAVIGATION BAR ====*/
.navbar{
	font-family:"Nexa Light";
	text-transform:uppercase;
	letter-spacing:2px;
}

.navbar-right{
	padding-right:20px;
}

/*==== LANDING SECTION ====*/
.splashSection{
	padding:125px 15px 75px 15px;
	background:url('../img/landing/hue_overlay.png') no-repeat fixed center;
	height:100vh;
}

.splashSection img{
	width: 25%;
	height:auto;
	margin:0 auto;
}

.splashSection h1{
	color:white;
	font-family:"Nexa Light";
	letter-spacing:2px;
	text-align:center;
}


.nameBold{
	font-family:"Nexa Bold";
}

/*==== ABOUT SECTION ====*/
.aboutSection{
	padding:75px 15px;
	background-color:orange;
}

/*==== EXPERIENCE SECTION ====*/
.experienceSection{
	padding:75px 15px;
	background-color:var(--light-grey);
}

.timelineContainer{
	
}

.timelineSection{

}

.timelineDate{
	text-align:right;
}

.timelineIcon{
	text-align:center;
}

.timelineDetails{
	background-color:white;
	margin-bottom:30px;
	border-radius:5px;
}

.jobLocation{
	font-size:1.5em;
	padding-bottom:2px;
}


.jobTitle{
	font-size:1.3em;
	padding-bottom:12px;
}

/*==== PROJECTS SECTION ====*/
.projectsSection{
	padding:75px 15px;
}

.projectContainer{

}

.projectCard{
	text-align:center;
}

.graphicsSection{

}

.graphicContainer{

}

/*==== FOOTER SECTION ====*/
.footerSection{
	background-color: #2f2f2f;
	color:white;
	padding:2% 0;
	height:90px;
}

footer{

}

.copyright{

}

.socialIcons{
	text-align:right;
}

.footerSection img{
	width:40px;
	height:auto;
}